body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h2 {
  margin: 30px auto 0 30px;
  width: 300px;
  height: 30px;
}

input {
  margin: 30px auto 30px 30px;
  width: 300px;
  height: 30px;
}

img {
  width: 200px;
  height: 200px;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  width: calc(100% / 3.5);
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  list-style: none;
}

.info {
  background-color: #EEEEEE;
  width: 200px;
  height: 80px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

h3 {
  margin-top: 30px;
  padding-top: 0;
}

.hidden {
  display: none;
}